<div class="main-container">
  <mat-vertical-stepper>
    <ng-template matStepperIcon="edit">
      <mat-icon class="check-circle" style="font-size: 25px; height: 25px; width: 25px;">check_circle</mat-icon>
    </ng-template>
    <mat-step [stepControl]="RKIRequestNameGroup">
      <ng-template matStepLabel class="mat-step-text-label">
        RKI Request Name
        <div class="overlay" (click)="onStepHeaderClick()"></div>
      </ng-template>
      <div class="RKI-request-name-content" *ngIf="!isRKIRequestNameDone">
        <form [formGroup]="RKIRequestNameGroup">
          <div class="request-name-input">
            <input type="text" placeholder="Enter the name" formControlName="RKIRequestNameCtrl" [style.outlineColor]="!errorRKIRequestName() ? 'rgb(64, 161, 251)' : 'rgb(245, 116, 116)'" #requestNameInput>
          </div>
        </form>
        <div class="request-name-btn">
          <button class="custom-btn" matStepperNext [disabled]="!isRKIRequestNameIsValid()" (click)="onClickOfRKIRequestName()">Continue</button>
        </div>
      </div>
      <div class="RKI-request-name" *ngIf="isRKIRequestNameDone" style="z-index: 5;">
        {{RKIRequestName}}
      </div>
    </mat-step>
    <mat-step label="RKI Key Group">
      <div class="key-group-content">
        <mat-form-field>
          <input type="text" placeholder="Select a key group">
          <mat-select>
            <mat-option *ngFor="let key of keyGroup" [value]="key.name">
              {{key.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="key-group-btn">
        <button class="custom-btn" matStepperNext>Continue</button>
      </div>
    </mat-step>
    <mat-step label="Devices">
      <div class="devices-content">
        <input type="text" placeholder="Enter serial number">
        <div class="add-device">
          <button>Add</button>
        </div>
      </div>
      <div class="devices-btn">
        <button class="custom-btn" matStepperNext>Continue</button>
      </div>
    </mat-step>
    <mat-step label="Approvers">
      <div class="approvers-content">
          <input
            type="text"
            placeholder="Add a person"
            [formControl]="searchControl"
            (input)="onInputChange($event)"
          />
          <div class="autocomplete" *ngIf="isAutocompleteVisible && filteredOptions.length > 0">
            <div *ngFor="let option of filteredOptions" (click)="selectOption(option)">
              <div class="option">
                <div class="name-icon">
                  <img src={{option.icon}} alt="error">
                  <h4>{{option.name}}</h4>
                </div>
                <div class="email">
                  <p>{{option.email}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="selected-options"  *ngFor="let person of selectedPerson"   (remove)="removeSelectedPerson(person)">
            <div class="selected-option">
              <div class="name-icon">
                <img src={{person.icon}} alt="error">
                <h4>{{ person.name }}</h4>
              </div>
              <div class="remove" (click)="removePerson()" style="cursor: pointer;">✖</div>
            </div>
          </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  <div class="end-buttons">
    <button class="create-request-btn">Create Request</button>
    <button class="back-btn">Back</button>
  </div>
</div>

